/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* TEST  */
    border: 1px red solid; 
}

/* COMMON */
body{
    font-family: 'Open Sans',sans-serif;
}


/* Images */
img {
    width: 100%;
}

/* Columns */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.column{
    float: left;
}

/* Buttons */
.btn{
    display: inline-block;
    line-height: normal;
    font-size: small;
    text-decoration: none;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
}
.btn-blue:hover{
    background-color: #3c84ff;
}
.btn-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-regular{
    padding: 5px 15px;
}
.btn-wide{
    padding: 5px 30px;
}
.btn-ultrawide{
    padding: 5px 50px;
}

/* HEADER */
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: white;
    line-height: 70px;
    font-size: small;
}
nav li{
    display: inline-block;
    padding: 0 15px;
    list-style-type: none;
}
nav a{
    text-decoration: none; 
    color: black;  
}
nav li:hover{
    border-bottom: 2px solid black;
}

/* Logo */
.logo{
    width: 12%;
}
.logo-img{
    vertical-align: middle;
    padding-left: 10%;
    max-width: 150px;
}

/* Menù */
.nav-menu{
    width: 80%;
}
.nav-menu-left{ 
    float: left; 
    text-align: left;
    width: 50%;
}
.nav-menu-right{
    float: right; 
    text-align: right;
    width: 50%;
}

/* Signup */
.nav-signup{
    width: 8%;
    /* min-width: 80px; */
    text-align: center;
}


/* MAIN */
.container{
    width: 70%;
    margin: 12% auto 0;
}

/* Jumbotron */
.jumbo{
    background-color: #b5d0e7;
    margin-top: 70px;
}
.jumbo-container{
    width: 85%;
    margin:auto; 
}
.jumbo-container h2{
    font-size: 50px;
    padding-top: 50px; 
    padding-bottom: 40px;
}
.jumbo-container p{
    font-size: small;
}
.jumbo-left{
    width: 35%;
}
.jumbo-right{
    width: 61%;
    margin-left: 4%;
    margin-bottom: -5%;
}
.jumbo-right img{
    vertical-align: middle;
}
.jumbo-left :first-child{
    margin-bottom: 20px;
}
.jumbo-left :last-child{
    margin-top: 20px;
    font-size: xx-large;
}
.jumbo-left :nth-child(3){
    margin-top: 5px;
}

/* Subscription */
.container h2{
    font-size: xx-large;
}
.billing-type{ 
    margin-top: 60px;
    margin-bottom: 40px;
}
.billing-type :nth-child(2){
    margin-right: 10px;
}
.radio-btn{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1px;
}
.radio-blue{
    border: 4px solid #0061ff;
}
.radio-empty{
    border: 1px solid lightgray;
}

/* Plans */
.sub-plan li{
    list-style-type: none;
}
.sub-plan .column{
    min-height: 900px;
}
.sub-left, .sub-right, .sub-center{
    width: 30%;
    border: 1px solid lightgray;
}
.sub-center{
    margin: 0 5%;
}
.plan-type-name{
    text-align: center;
    border-bottom: 1px solid #d6d6d8;
    padding: 10px 0;
}
.sub-description{
    padding: 30px 20px;
}
.sub-type h3{
    margin-bottom: 15px;
}
.sub-type .sub-period{
    color: grey;
}
.sub-price, .sub-period{
    font-size: 12px;
    font-weight: bold;
}
.sub-main-spec{
    font-size: small;
}
.sub-main-spec {
    margin: 40px 0 40px; 
}
.sub-main-spec li {
    padding: 5px 0;
}
.sub-registration{
    font-size: small;
    margin: 20px 0;
}
.sub-registration .buy-now {
    margin-top: 20px ;
}
.sub-registration .buy-link{
    color: #0061ff;
}
.delineator{
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid gray;
}
.sub-minor-features{
    margin: 40px 0;
}
.minor-features-list {
    font-size: small;
    margin: 10px 0;
}
.minor-features-list li {
    padding: 10px 0;
}
.minor-features-list i {
    color: #0464ff;
}

/* Enterprise subscription  */
.sub-bottom{
    width: 100%;
    margin-top: 40px;
    border: 1px solid lightgray;
}
.sub-bottom .sub-type{
    display: inline-block;
    width: 68%;
    margin-right: 4%;
}
.sub-bottom .sub-type h6{
    margin: 15px 0 20px;
}
.sub-bottom .sub-type p{
    font-size: small;
}
.custom-plan-request{
    display: inline-block;
    width: 26%;
    text-align: center;
    vertical-align: top;
}

/* Find a partner */
.find-partner{
    margin: 70px 0;
}
.find-partner img{
    float: left;
    width: 50%;
}
.find-partner .partner-info{
    float: right;
    width: 50%;
    padding: 3% 0 0 4%;
}
.find-partner p{
    font-size: small;
    margin: 15px 0;
}

/* Advantages */
.advantages h3{
    margin-bottom: 15px;
}
.advantages p{
    font-size: small;
    margin-top: 15px;
}
.advantages-info{
    width: calc(97% / 3);
}
.advantages-info img{
    vertical-align: middle;
}
.advantages-row{
    margin-top: 40px;
}
.advantages-row :nth-child(1){
    margin-right: 1%;
}
.advantages-row :nth-child(2){
    margin: 0 0.5%;

}
.advantages-row :last-child{
    margin-left: 1%;
}

/* References */
.references{
    margin: 70px 0;
}
.references h3{
    font-size: ;
    margin-bottom: 25px;
}
.references a{
    color: #0061ff;
    font-size: small;
    display: inline-block;
    margin-bottom: 25px;    
}
.references-row{
    width: 100%;
    height: 300px;
}
.references-left, .references-right {
    width: 30%;
    height: 100%;  
}
.references-center{
    width: 40%;
}
.references-left-top, .references-left-bottom, .references-right-top, .references-right-bottom{
    height: 50%;
}
.references-logo{
    width: 50%; 
    height: 100%; 
    padding: 10%;
}


