/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    border: 1px solid red;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

.logo-img{
    vertical-align: middle;
}

.col{
    display: inline-block;
}

.top-menu-left li, .top-menu-right li{
    display: inline-block;
}


.top-menu-left, .top-menu-right {
    display: inline-block;
} 


